/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@keyframes menu-show {
  0% {
    transform: translateY(-50px) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
