@import "../mixins/loader";

.loading {
  @apply relative;

  @include loader();
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-loading {
  animation: fadeIn 0.65s ease forwards;
}
