/* --------------------------------

Title: Search Forms

-------------------------------- */

form[role="search"].search-form {
  & button[type="submit"] {
    @apply opacity-0 transition-colors;

    svg {
      @apply w-auto;

      height: 1.2em;
      max-height: 2rem;
    }
  }

  & input[type="search"] {
    &:invalid {
      @apply shadow-none;
    }

    &:not(:placeholder-shown) {
      & ~ button[type="submit"] {
        @apply opacity-100;

        &:hover,
        &:focus,
        &:active {
          @apply text-primary;
        }
      }
    }

    // Autofill style
    @-webkit-keyframes autofill {
      to {
        @apply bg-transparent text-black;
      }
    }

    &:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }
  }
}
