@mixin bg-full($color, $border-color:"") {
  background-color: #{$color};
  position: relative;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    border-left: 9999px solid #{$color};
    box-shadow: 9999px 0 0 #{$color};
  }

  @if $border-color != "" {
    &::after {
      z-index: -1;
      content: "";
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -9999px;
      right: -9999px;
      box-shadow: inset 0 -1px 0 0 #{$border-color}, inset 0 1px 0 0 #{$border-color};
    }
  }
}
