@mixin bg-img($name, $size:false, $position:false) {
  background: url(../icons/#{$name}.svg) no-repeat;

  @if ($size) {
    background-size: $size;
  }

  @if ($position) {
    background-position: $position;
  }
}
