/*
 * Container Base
 */
@mixin container() {
  @apply w-full max-w-full mx-auto px-block-spacing;

  @screen sm {
    @apply px-initial;

    max-width: calc(100% - var(--gutter) * 4);
  }

  @screen md {
    max-width: calc(100% - var(--gutter) * 6);
  }

  @screen lg {
    max-width: calc(theme('screens.lg') - 10vw);
  }

  @screen xl {
    max-width: calc(theme('screens.xl') - 10vw);
  }

  @screen xxl {
    max-width: calc(theme('screens.xxl') - 10vw);
  }
}

/*
 * Adds style to wide aligned content
 */
@mixin layout_align() {
  @apply px-block-spacing mx-auto;

  @screen sm {
    max-width: var(--layout-width-sm);
  }

  @screen md {
    max-width: var(--layout-width-md);
  }

  @screen lg {
    @apply px-initial;

    max-width: var(--layout-width-lg);
  }

  @screen xl {
    max-width: var(--layout-width-xl);
  }

  @screen xxl {
    max-width: var(--layout-width-xxl);
  }
}

/*
 * Adds style to wide aligned content
 */
@mixin layout_align__wide() {
  @apply mx-auto px-block-spacing;

  @screen sm {
    // min-width: var(--layout-width-sm);
    max-width: calc(var(--layout-width-sm) + 20%);
  }

  @screen md {
    // min-width: var(--layout-width-md);
    max-width: calc(var(--layout-width-md) + 20%);
  }

  @screen lg {
    @apply px-initial;

    // min-width: var(--layout-width-lg);
    max-width: calc(var(--layout-width-lg) - var(--gutter) + 20%);
  }

  @screen xl {
    // min-width: var(--layout-width-xl);
    max-width: calc(var(--layout-width-xl) - var(--gutter) + 20%);
  }

  @screen xxl {
    // min-width: var(--layout-width-xxl);
    max-width: calc(var(--layout-width-xxl) - var(--gutter) + 20%);
  }
}

/*
 * Adds style to screen (full with gutter) aligned content
 */
@mixin layout_align__screen() {
  @apply px-block-spacing mx-auto;

  @screen sm {
    @apply px-initial;

    max-width: calc(100% - var(--block-spacing) * 2);
  }

  @screen md {
    width: calc(100% - var(--gutter));
    min-width: calc(theme('screens.md') - var(--gutter) * 2);
  }

  @screen lg {
    min-width: calc(theme('screens.lg') - var(--gutter) * 2);
  }

  @screen xl {
    min-width: calc(theme('screens.xl') - var(--gutter) * 2);
  }

  @screen xxl {
    min-width: calc(theme('screens.xl') - var(--gutter) * 2);
  }
}

@mixin blocks_align__full() {
  @apply mx-0 w-full max-w-full;
}
