@import "bg-image";

$loader_color: black;

@mixin loader() {
  &::before {
    @apply block w-4 h-4 -mt-2 -ml-2 visible;

    content: '' !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    animation: loading 2s infinite;
    border-width: 0 !important;
    border-radius: 50% !important;
    background: $loader_color !important;
  }
}

@keyframes loading {
  0% {
    transform: scale(0.5);
    opacity: 0;
    box-shadow: 0 0 0 0 rgba($loader_color, 0.4);
  }

  70% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 0 15px rgba($loader_color, 0);
  }

  100% {
    opacity: 0;
    box-shadow: 0 0 0 0 rgba($loader_color, 0);
  }
}
