// Add Custom Components
@import "common/components";

// General Styles
@import "blocks/blocks-colors";
@import "blocks/blocks-typo";

// Specific blocks
@import "blocks/audio/theme";
@import "blocks/button/theme";
@import "blocks/cover/theme";
@import "blocks/embed/theme";
@import "blocks/gallery/theme";
@import "blocks/image/theme";
@import "blocks/media/theme";
@import "blocks/paragraph/theme";
@import "blocks/preformatted/theme";
@import "blocks/pullquote/theme";
@import "blocks/separator/theme";
@import "blocks/table/theme";
