:root {
  // Reduced content width for blocks
  --block-width-sm: calc(theme('screens.sm'));
  --block-width-md: calc(theme('screens.md'));
  --block-width-lg: calc(theme('screens.lg') - 20%);
  --block-width-xl: calc(theme('screens.xl') - 10%);

  // Spacing between blocks
  --block-spacing: 1.5rem;
}
