:root {
  // Reduced content width for blocks
  --block-width-sm: calc(theme('screens.sm') - 10%);
  --block-width-md: calc(theme('screens.md') - 10%);
  --block-width-lg: calc(theme('screens.lg') - 20%);
  --block-width-xl: calc(theme('screens.xl') - 35%);

  // Spacing between blocks
  --block-spacing: 1.5rem;
  --gutter: 5vw;
}
