/** Hex to RGB() convert function */
@function hex_rgb($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
}

/** Default Colors, overwritten via Customizer */
:root {
  /* Black & White */
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);

  /* Text colors */
  --color-copy: #{hex_rgb(#333)};
  --color-heading: #{hex_rgb(#333)};

  /* Link colors */
  --color-link: var(--color-copy);
  --color-hover: var(--color-blue-700);

  /* Background */
  --color-body: #{hex_rgb(#f9f9f9)};

  /* Primary */
  --color-primary: var(--color-blue-700);

  /* Secondary */
  --color-secondary: #{hex_rgb(#dd6b20)};

  /* Gray */
  --color-gray-100: #{hex_rgb(#f7fafc)};
  --color-gray-200: #{hex_rgb(#edf2f7)};
  --color-gray-300: #{hex_rgb(#e2e8f0)};
  --color-gray-400: #{hex_rgb(#cbd5e0)};
  --color-gray-500: #{hex_rgb(#a0aec0)};
  --color-gray-600: #{hex_rgb(#718096)};
  --color-gray-700: #{hex_rgb(#4a5568)};
  --color-gray-800: #{hex_rgb(#2d3748)};
  --color-gray-900: #{hex_rgb(#1a202c)};

  /* Red */
  --color-red-100: #{hex_rgb(#fff5f5)};
  --color-red-200: #{hex_rgb(#fed7d7)};
  --color-red-300: #{hex_rgb(#feb2b2)};
  --color-red-400: #{hex_rgb(#fc8181)};
  --color-red-500: #{hex_rgb(#f56565)};
  --color-red-600: #{hex_rgb(#e53e3e)};
  --color-red-700: #{hex_rgb(#c53030)};
  --color-red-800: #{hex_rgb(#9b2c2c)};
  --color-red-900: #{hex_rgb(#742a2a)};

  /* Green */
  --color-green-100: #{hex_rgb(#f0fff4)};
  --color-green-200: #{hex_rgb(#c6f6d5)};
  --color-green-300: #{hex_rgb(#9ae6b4)};
  --color-green-400: #{hex_rgb(#68d391)};
  --color-green-500: #{hex_rgb(#48bb78)};
  --color-green-600: #{hex_rgb(#38a169)};
  --color-green-700: #{hex_rgb(#2f855a)};
  --color-green-800: #{hex_rgb(#276749)};
  --color-green-900: #{hex_rgb(#22543d)};

  /* Blue */
  --color-blue-100: #{hex_rgb(#ebf8ff)};
  --color-blue-200: #{hex_rgb(#bee3f8)};
  --color-blue-300: #{hex_rgb(#90cdf4)};
  --color-blue-400: #{hex_rgb(#63b3ed)};
  --color-blue-500: #{hex_rgb(#4299e1)};
  --color-blue-600: #{hex_rgb(#3182ce)};
  --color-blue-700: #{hex_rgb(#2b6cb0)};
  --color-blue-800: #{hex_rgb(#2c5282)};
  --color-blue-900: #{hex_rgb(#2a4365)};
}
