:root {
  /* Fonts */
  /*
  --font-body: theme('fonts.sans');
  --font-heading: theme('fonts.serif');
  --font-weight-heading: 200;

  /* Font Sizes */
  --font-size-xs: 0.75rem;    // 12px
  --font-size-sm: 0.875rem;   // 14px
  --font-size-base: 1rem;    // 16px
  --font-size-lg: 1.125rem;  // 18px
  --font-size-xl: 1.25rem;   // 20px
  --font-size-2xl: 1.5rem;   // 24px
  --font-size-3xl: 1.875rem; // 30px
  --font-size-4xl: 2.25rem;  // 36px
  --font-size-5xl: 3rem;     // 48px
}
