body.woocommerce-cart {
  ul {
    @apply list-none;
  }

  .cart_item {
    @apply mb-12;
  }
}

dl.variation {
  @apply flex flex-row flex-wrap;

  dt {
    flex-basis: 40%;
    padding-right: 5px;
  }

  dd {
    flex-basis: 60%;
    flex-grow: 1;
  }
}

.woocommerce-shipping-destination {
  @apply text-xs;
}
