@import "../../mixins/container";

.wp-block-spacer {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wp-block-separator {
  @apply block border-b border-gray-300 my-block-spacing mx-auto p-0 bg-transparent;

  clear: both;

  &.is-style-wide {
    @include layout_align__wide();

    max-width: none;
  }

  &.is-style-dots {
    @apply h-auto border-none text-center;

    max-width: none;
    line-height: 0;
    background: none; // Override any background themes often set on the hr tag for this style.
  }

  &.is-style-dots::before {
    @apply text-black text-base;

    content: "\00b7 \00b7 \00b7";
    letter-spacing: 3vw;
  }
}
