@import "../../../mixins/container";

.wp-block-cover {
  @apply relative flex flex-col justify-center items-center my-block-spacing py-20 bg-cover;

  .wp-block-cover__inner-container {
    @include container();
  }

  h2,
  .wp-block-cover-text {
    @apply relative inline-block mb-0 py-20 text-3xl text-center text-white z-20;
  }

  h2 a,
  .wp-block-cover-text a {
    @apply text-white;
  }

  &.has-parallax {
    @apply bg-fixed;
  }

  &.has-background-dim::after {
    @apply absolute w-full h-full inset-y-0 inset-x-0 z-0;

    content: '';
  }

  @screen lg {
    &.alignleft {
      @apply float-left w-2/5 mt-1 mr-block-spacing;

      clear: left;
    }

    > p {
      @apply text-center;
    }
  }

  @screen lg {
    &.alignright {
      @apply float-right w-2/5 mt-1 ml-block-spacing;

      clear: right;
    }

    > p {
      @apply text-center;
    }
  }

  &.aligncenter {
    @apply w-full;

    clear: both;
  }
}
