@screen sm {
  @supports (display: grid) {
    body.archive {
      .products.grid {
        @apply border-red-500 gap-4;

        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "cat cat cat cat cat cat cat cat cat cat cat cat" "prod prod prod prod prod prod prod prod prod prod prod prod";
        grid-template-rows: min-content;
        grid-auto-rows: 11vw;

        & > section.product-categories {
          grid-area: cat;
        }

        & > .product {
          @apply flex w-auto h-auto;

          grid-area: prod;

          .product-inner {
            @apply relative w-5/6 h-auto;

            .woocommerce-loop-product__link {
              .product-image-container {
                @apply relative aspect-ratio-2/3 bg-transparent;

                img {
                  @apply absolute inset-0 w-full h-full object-cover z-0;
                }
              }
            }
          }

          &:nth-of-type(6n + 1) {
            grid-column: auto / span 6;
            grid-row: auto / span 5;
            justify-content: start;
            align-items: start;

            .product-inner {
              @apply w-5/6;
            }
          }

          &:nth-of-type(6n + 2) {
            grid-column: auto / span 6;
            grid-row: auto / span 4;
            justify-content: right;
            align-items: center;

            .product-inner {
              @apply w-4/6;

              .product-image-container {
                @apply aspect-ratio-3/2;
              }
            }
          }

          &:nth-of-type(6n + 3) {
            grid-column: auto / span 6;
            grid-row: auto / span 4;
            justify-content: center;
            align-items: center;

            .product-inner {
              @apply w-4/6 bg-green-300;
            }
          }

          &:nth-of-type(6n + 4) {
            grid-column: auto / span 6;
            grid-row: auto / span 3;
            justify-content: right;
            align-items: center;

            .product-inner {
              @apply w-3/6;

              .product-image-container {
                @apply aspect-ratio-3/2;
              }
            }
          }

          &:nth-of-type(6n + 5) {
            grid-column: auto / span 6;
            grid-row: auto / span 4;
            justify-content: center;
            align-items: start;

            .product-inner {
              @apply w-3/6;
            }
          }

          &:nth-of-type(6n + 6) {
            grid-column: auto / span 6;
            grid-row: auto / span 4;
            justify-content: right;
            align-items: center;

            .product-inner {
              @apply w-full;

              .product-image-container {
                @apply aspect-ratio-3/2;
              }
            }
          }
        }
      }
    }
  }
}
