@import "../mixins/container";

.container,
.blocks-wrap,
.content-wrap,
.archive-wrap {
  & > * {
    &:not(.alignfull):not(.alignscreen):not(.alignwide) {
      @apply w-full max-w-full mx-auto px-gutter;

      @include blocks_align();
    }

    & > * {
      @apply mx-auto;
    }
  }

  & > .alignwide {
    @include blocks_align__wide();

    & > * {
      @apply w-full;
    }
  }

  & > .alignscreen {
    @include blocks_align__screen();

    & > * {
      @apply mx-0 w-full;
    }
  }

  & > .alignfull {
    @include blocks_align__full();

    & > * {
      @apply mx-0 w-full;
    }
  }
}

// Add some default spacing
.blocks-wrap {
  & > * {
    &:not(.alignfull):not(.alignscreen):not(.alignwide) {
      @apply my-block-spacing;

      &:first-child {
        @apply mt-0;
      }
    }
  }
}

/*
.blocks-wrap {
  & > * {
    @apply mb-10;
  }

  @screen sm {
    & > .alignwide {
      @apply relative left-half right-half;

      width: calc(100% + ((100vw - 100%) / 2));
      min-width: calc(100% + ((100vw - 100%) / 2));
      margin-left: calc(-50% + (100vw - 100%) / -4);
      margin-right: calc(-50% + (100vw - 100%) / -4);
    }
  }

  & > .alignfull {
    @apply w-screen min-w-screen relative left-half right-half -mx-half-screen px-0;
  }

  .alignleft {
    @apply float-left mr-4;
  }

  .alignright {
    @apply float-right ml-4;
  }

  .aligncenter {
    @apply block mx-auto;
  }

  .alignleft,
  .alignright,
  .alignnone {
    @include clearfix();
  }
}
*/
