/** WP Blocks colors */
$wp-blocks-colors: (
  // Colors need to reflect registered pallets from defaults.php
  "primary":    var(--color-primary),
  "secondary":  var(--color-secondary),
  "gray-200":   var(--color-gray-200),
  "gray-800":   var(--color-gray-800),
  "white":      var(--color-white),
  "black":      var(--color-black),
);

@each $name, $color in $wp-blocks-colors {
  .has-#{$name}-color {
    color: $color !important;
  }

  .has-#{$name}-background-color,
  .has-#{$name}-background-color::before {
    background-color: $color !important;
    border-color: $color !important;
  }
}

@for $i from 1 through 10 {
  .has-background-dim-#{ $i * 10 }::before {
    opacity: $i * 0.1;
  }
}
