/** Desktop Primary Navigation */
nav.nav-wrap,
div.icons-wrap {
  @apply relative text-base bg-inherit;

  font-size: var(--copy-font-size);
  font-weight: var(--copy-font-weight);

  // First menu level
  ul.menu {
    @apply flex items-stretch self-stretch flex flex-wrap bg-inherit;

    li.active > a,
    li:focus > a,
    li:hover > a {
      color: var(--color-hover);
    }

    & > li.menu-item {
      @apply flex items-stretch relative;

      transition: opacity 0.3s;

      & > button,
      & > a {
        @apply self-center leading-none mx-1 py-2 px-2 my-3 cursor-pointer;
      }

      & span.count {
        transform: translate(50%, -10%);
      }

      // First sub-menu
      & > .sub-menu {
        @apply invisible fixed right-0 top-full opacity-0 shadow-none cursor-auto;
        @apply flex flex-col whitespace-no-wrap;
        @apply z-30;
        @apply bg-white px-4 py-2;
        @apply border border-accent;

        @screen sm {
          @apply absolute;
        }

        will-change: opacity, box-shadow;

        .menu-item {
          @apply flex-col p-3;
        }
      }

      &.menu-item-has-children {
        &::after,
        & > .sub-menu {
          transition: all 0.2s cubic-bezier(0.77, 0.11, 0.22, 0.9), box-shadow 0.5s ease-out;
        }

        &::after {
          @apply invisible absolute w-3 h-3 bg-white left-half top-full z-30 opacity-0;
          @apply border border-gray-300 border-b-0 border-r-0;

          content: '';
          transform: translateX(-50%) translateY(0) rotate(45deg);
          transform-origin: center;
          transition: opacity 0.2s ease-in 0.05s;
        }

        &.click-open.nav-is-visible,
        &.hover-open:hover {
          &::after {
            @apply block visible opacity-100;

            transform: translateX(-50%) translateY(-50%) rotate(45deg);
          }

          & > ul.sub-menu {
            @apply bg-white;
          }
        }
      }
    }
  }

  /* Open menu item on hover or when clicked */
  &.click-open-menu > ul.menu > li.menu-item.nav-is-visible > .sub-menu,
  &.hover-open-menu > ul.menu > li.menu-item:hover > .sub-menu,
  &.hover-open-menu > ul.menu > li.menu-item:focus > .sub-menu {
    @apply visible opacity-100 shadow;

    &:hover {
      @apply shadow-lg;

      transition-delay: 0s;
    }
  }
}
