.off-canvas-menu {
  @apply absolute block w-full max-w-xs bottom-0 z-50 overflow-x-hidden border -mx-1;

  height: calc(100vh - 100%);
  top: 100%;
  will-change: transform;
  transform: translate3d(0, 0, 1px);
  transition: transform 0.3s, box-shadow 0.3s, height 0s 0s;
  -webkit-overflow-scrolling: touch;

  &.is-hidden {
    @apply shadow-none h-0;

    transition: transform 0.2s 0.3s, box-shadow 0.2s 0.3s, height 0s 0.5s;

    &.left-0 {
      transform: translate(-100%, 0);
    }

    &.right-0 {
      transform: translate(100%, 0);
    }

    & > ul > li > a {
      transition: opacity 0.4s;
      opacity: 0;
    }
  }

  // First level menu items
  &:not(.is-hidden) {
    @for $i from 1 through 20 {
      & > ul > li:nth-child(#{$i}n) > a {
        transition: opacity 0.4s ease-in #{$i * 0.03}s;
      }
    }

    & > ul > li > a {
      opacity: 1;
    }
  }

  ul {
    @apply fixed inset-0 w-full;

    transform: translate3d(0, 0, 0);
    transition: transform 0.5s ease-out, opacity 0.3s ease-in;

    li {
      @apply w-full;

      /* stylelint-disable-next-line */
      a {
        @apply block w-full px-6 py-5;

        transition: transform 0.3s, opacity 0.4s;
        will-change: transform, opacity;
      }

      /* Menu item arrow < / > */
      &.has-children,
      &.go-back {
        @apply relative block bg-inherit;
      }

      &.go-back {
        transform: translateX(-50%);
        transition: transform 0.3s, opacity 0.2s;
        opacity: 0;
        visibility: hidden;
        z-index: -1;

        & > a {
          @apply border-none text-inherit text-sm opacity-75;

          &:hover {
            @apply opacity-100;
          }
        }
      }
    }

    &.sub-menu {
      @apply z-0 w-full;

      transform: translateX(200%);

      &.is-visible {
        @apply inline-block z-30;

        transform: translateX(0);
      }
    }

    &.is-visible {
      transform: translateX(0);
      transition: transform 0.3s;

      & > li.go-back {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }

    &.moves-out {
      & > li > a {
        transition: transform 0.3s, opacity 0.4s;
        transform: translateX(-100%);
        opacity: 0;
      }

      & > li.go-back {
        transform: translateX(-50%);
      }
    }

    li.selected-copy > a {
      @apply text-primary;
    }
  }
}
